<div class="container-fluid">
  <div>
    <mkt-navbar></mkt-navbar>
  </div>

  <div id="forwhat" class="jumbotron contact text-center">
    <h2>Email Marketing <span>SIMPLE</span></h2>
    <p class="lead">
      mkt.builders te ofrece la forma más rápida de mejorar tu cartera de clientes.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Contactanos</button>
    </p>
  </div>

  <div class="jumbotron triplicate text-center">
    <h2>TRIPLICA TUS VENTAS <span>con nuestras ofertas</span></h2>
    <div class="col-sm-6 col-md-4 col-md-offset-2">
        <h3>
          <span aria-hidden="true"></span>
          Llegá mensualmente a 250.000 compradores únicos.
        </h3>
        <p class="price">
          Valor: $0.032 por contacto.
        </p>
    </div>
    <div class="col-sm-6 col-md-4">
      <h3 class="multiple">
        <span aria-hidden="true"></span>
        Llegá mensualmente a 500.000 compradores únicos.
      </h3>
      <p class="price">
        Valor: $0.024 por contacto.
      </p>
    </div>

    <div class="col-sm-12 col-md-12 contact-button">
      <p class="animated infinite" ng-class="main.classAnimation">
        <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Contactanos</button>
      </p>
    </div>
  </div>



  <div id="why" class="jumbotron why text-center">
    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <h3 class="review-progress">
        <span aria-hidden="true"></span>
        Revisá tu progreso
      </h3>
      <p class="desc">
        Te brindamos estadísticas personalizadas de tu campaña
        para que puedas verificar todos tus avances con nosotros.
      </p>
    </div>

    <div class="col-sm-6 col-md-4">
      <h3 class="value">
        <span aria-hidden="true"></span>
        Agregale valor a tu sitio
      </h3>
      <p class="desc">
        Nos encargamos de potenciar fuertemente el tráfico
        hacía tu página web o la que sea de tu preferencia.
      </p>
    </div>

    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <h3 class="country">
        <span aria-hidden="true"></span>
        Llegá a compradores de todo el país
      </h3>
      <p class="desc">
        Acercale tus productos mensualmente
        hasta 500.000 compradores únicos.
      </p>
    </div>

    <div class="col-sm-6 col-md-4">
      <h3 class="price">
        <span aria-hidden="true"></span>
        Sorprendé a tus clientes con el mejor precio del mercado
      </h3>
      <p class="desc">
        No manejamos comisiones ni extras de ningún tipo.
        Todo lo que vendas es tuyo.
      </p>
    </div>

    <div class="col-sm-12 col-md-12 contact-button">
      <p class="disclaimer">En mkt.builders contamos con más de 12 millones de emails,  de los cuales seleccionamos aquellos 6 millones cuyas características responden a compradores frecuentes dentro
        de todos los sitios  que comprenden el ecosistema del comercio electrónico. <br />
        No somos un e-commerce, nuestra propuesta responde únicamente a un costo fijo mensual
        sin comisiones por publicar ni vender. De esta forma, te damos la posibilidad de tener el mejor precio del mercado y marcar una amplia diferencia frente a tus competidores.</p>
      <p class="animated infinite" ng-class="main.classAnimation">
        <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Contactanos</button>
      </p>
    </div>
  </div>


  <div id="how" class="jumbotron how text-center">
    <h2>ES TAN FACIL</h2>

    <div class="col-sm-3 col-md-3">
      <p class="contact animated infinite" ng-class="main.classAnimation">
        <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Contactanos</button>
      </p>
    </div>

    <div class="col-sm-1 col-md-1 arrow">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </div>

    <div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
      <h3 class="publish">
        <span aria-hidden="true"></span>
        Envianos los productos a publicitar
      </h3>
    </div>

    <div class="col-sm-1 col-md-1 arrow">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </div>

    <div class="col-sm-3 col-md-3">
      <h3 class="check-progress">
        <span aria-hidden="true"></span>
        Revisa el progreso de tus ventas
      </h3>
    </div>

  </div>


  <div class="jumbotron footer text-left">

    <div class="col-sm-offset-6 col-sm-3 col-md-3">
      <h4>MKT.BUILDERS</h4>
      <h5>Headquarters</h5>
      <ul>
        <li>Departamento 2G</li>
        <li>General Rodriguez 657</li>
        <li>Monte Grande</li>
        <li>Buenos Aires</li>
        <li>Argentina</li>
      </ul>
    </div>

    <div class="col-sm-3 col-md-3">
      <ul>
        <li>+54 11 5252 6999</li>
        <li>sales@mkt.builders</li>
      </ul>
    </div>
  </div>

</div>
